.entry {
   &--preview {
      height: 100%;
      margin-bottom: 15px;
      
      @include respond-min($screen-sm) {
         margin-bottom: 30px;
      }
      figure {
         width: 100%;
         height: auto;
         padding-bottom: 66.66%;
         background: black no-repeat center;
         background-size: cover;
         img {
            width: 100%;
            height: auto;
         }
         @include respond-min($screen-sm) {
            height: 280px;
            padding-bottom: 0;
         }

      }
      .entry-title {
         @include smart-underline();
         color: black;
         line-height: 40px;
         a {
            color: black;
            line-height: 40px;
         }
      }
      .entry-summary, .entry-meta {
         border-bottom: 2px solid #cbcbcb;
         padding-bottom: 10px;
         margin-bottom: 10px;
         @include respond-min($screen-sm) {
            padding-bottom: 20px;
            margin-bottom: 20px;
         }
      }

      .entry-meta {
         border-bottom: none;
         
         
      }

      .entry-summary {
         min-height: 202px;
      }
   }
}

.search-results {
   .entry-title {
      margin-bottom: 5px;
   }
}

.blog-header {
   position: relative;
   display: block;
   padding: 20px 0;
   margin: 0; 
   height: 80px;
   border-bottom: 1px solid #979797;
   
   
   
   &__search{
      form {
         width: 100%;
         .input-group {
            width: 100%;
         }
      }
   }
   
   .blog-header-nav {
      display: none;
      @include respond-min($screen-md) {
         display: block;
      }
      li {
         display: inline-block;
         width: auto;
         height: 30px;
         padding: 0;
         margin: 0 20px;
         margin-top: 10px;
         vertical-align: middle;
         
         
         &:first-child {
            margin-left: 0;
         }
         &:last-child {
            margin-right: 0;
         }
         
         a {
            font-size: 16px;
            color: black;
            font-weight: bold;
            text-decoration: none; 
            line-height: 30px; 
            &:hover {
               text-decoration: none ;
            }
         }

         &:hover, &.active {
            border-bottom: 1px solid black;
         }
      }
   }
}


body.single-post {
   .entry-content {
      img {
         width: 100%;
         height: auto;
      }
      h1,h2,h3,h4,h5 {
         &:first-of-type {
            margin-top: 0;
         }
      }
   }
   .entry-meta {
      display: block;
      width: 100%;
      padding: 20px 0;
      text-align: center;
      font-size: 19px;
      line-height: 30px;
      border: 1px solid #939393;
      border-left: none;
      border-right: none;
      margin: 40px 0 20px;
      p {
         font-size: 19px;
         line-height: 30px;
      }
   }
   
}