// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}
.aligncenter {
  display: block;
  margin: 30px auto;
}
.alignleft,
.alignright {
  margin-bottom: 30px;
}
@media (min-width: $screen-sm-min) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: 30px;
  }
  .alignright {
    float: right;
    margin-left: 30px;
  }
}

// Captions
.wp-caption {
  @extend .thumbnail;
}
.wp-caption-text {
  padding: $thumbnail-caption-padding;
}

// Text meant only for screen readers
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}

.comments {
  p {
    font-size: 15px;
    line-height: 1.6;
    code {
      color: #939393;
    }
  }
}

.nav-links {
  display: block;
  width: 100%;
  padding: 20px 0;
  font-size: 19px;
  vertical-align: middle;
  border: 1px solid #939393;
  border-left: none;
  border-right: none;  
  margin: 0 0 40px;
}
