@import url("http://fonts.googleapis.com/css?family=Cardo:400,400italic,700");

body {
   font-family: $font-family-serif;
   padding-bottom: 90px;
}

ul {
   li {
      font-size: 16px;
      margin-bottom: 1em;
      line-height: 28px;
      
      @include respond-min($screen-sm) {
         font-size: 19px;
         margin-bottom: 20px;
         line-height: 30px;
      }

      &.small {
         font-size: 15px;
         line-height: 24px;
      }
   }
}

p, .p {
   font-size: 16px;
   margin-bottom: 1em;
   line-height: 28px;
   
   @include respond-min($screen-sm) {
      font-size: 19px;
      margin-bottom: 20px;
      line-height: 30px;
   }
   &.small {
      font-size: 15px;
      line-height: 24px;
   }

   &.entry-date {
      font-size: 17px;
      margin: 0;
   }

   &:last-child {
      margin-bottom: 0;
   }
}
h1,h2,h3,h4 {
   margin-top: 15px;
   margin-bottom: 15px;
   @include respond-min($screen-sm) {
      margin-top: 30px;
      margin-bottom: 15px;
   }
   
}
h1 {
   font-size: 26px;
   line-height: 1.41;
   @include respond-min($screen-xs) {
      font-size: 36px;
   }
   @include respond-min($screen-sm) {
      font-size: 48px;
   }
}
h2 {
   font-size: 26px;
   line-height: 1.33;
   @include respond-min($screen-sm) {
      font-size: 36px;
   }
}
h3 {
   font-size: 21px;
   line-height: 1.2;
   margin-bottom: 10px;
   @include respond-min($screen-sm) {
      font-size: 26px;
      line-height: 1.8;
   }
}
h4 {
   font-size: 19px;
   line-height: 30px;
}
h5 {
   font-size: 18px;
   line-height: 26px;
}

a {
   .content & , .footer-column & {
      color: rgba(150,150,150,1.0);
      text-decoration: underline;
   }
}

blockquote {
   padding: 0;
   border: none;
   margin: 0 0 20px 0;
   text-align: center;
   p {
      font-size: 26px;
      line-height: 40px;
      font-style: italic;
   }

   @include respond-min($screen-sm) {
      margin: 30px -40px 30px -40px;
   }
   
}

