// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    0;

$grid-columns:              8;

$grid-gutter-width:         40px;

// Colors
$brand-primary:         #000000;

$yellow: #F0A92C;
$green: #3E9740;
$orange: #D9522A;
$purple: #525C81;

// Large screen / wide desktop
// $container-large-desktop:      (940px + $grid-gutter-width);




$font-family-sans-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: "Cardo", Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;
