.recent-posts {
   background: black;
   color: white;
   padding: 30px 0 40px;
   h2 {
      color: #DDD;
      width: 100%;
      text-align: center;
      margin: 10px 0 auto;
   }

   .recent-post {
      display: block;
      text-decoration: none;
      &__title {
         color: #DDD;
         text-decoration: none;
         margin-bottom: 0;
      }
      &__author {
         color: rgba(150,150,150,1);
         text-decoration: underline;
      }
   }
}