.footer-column {
  margin:30px 0;
  @include respond-min($screen-md) {
    height: 120px;
    margin: 0;
  }
}

.brochure-footer-inner {
  padding: 105px 0;
  @media (max-width: 900px) {
    padding: 55px 0;
  }
  color: #fff;
  h1 {
    width: 600px;
    @media (max-width: 620px) {
      /* important here and below needed to overwrite dynamic inline styles */
      width: 100% !important;
    }
    &.extra-long {
      width: 800px;
    }
  }
  a {
    color: #fff;
    text-decoration: underline;
    font-size: 19px;
  }
}

/* Fix weird issue in Firefox where link underline is crossing through text */
@-moz-document url-prefix() {
  .brochure-footer-inner a {
      text-decoration: none;
      border-bottom: 1px solid;
      padding-bottom: 7px;
    }

  /* account for Firefox's weird rendering of large type in this font */
  .stat-figure {
    position: relative;
    bottom: 40px;
  }
}

.footer-img-w-link {
  @media (max-width: 767px) {
    background-size: 560px !important;
  }
}
