.hero {
   transition: all 0.15s linear;
   display: block;
   position: relative;
   width: 100%;
   height: auto;
   background-color: black;
   z-index: 1;
   max-height: 650px;
   background-size: 100% auto;
   background-position: 50% 0%;
   overflow: hidden;
   opacity: 0;
   background-position: center;
   @media (min-width: 1231px){
     min-height: 600px;
     background-position: 0 70%;
   }
   @media (max-height: 476px) {
     min-height: 240px;
   }

   & > img {
      position: absolute;
      visibility: hidden;
   }

   &.active {
      opacity: 1;
   }


   &:after {
      content: '';
      width: 100%;
      display: block;
      padding-top: 65%;
      @include respond-min($screen-xs) {
         padding-top: 50%;
      }
   }

   img {
      position: absolute;
      top: 0;
      left: 0;
      vertical-align: top;
      width: 100%;
      height: auto;
      visibility: hidden;
   }

   body.search & {
      display: none;
   }

   .hero-gradient {
      display: block;
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      vertical-align: bottom;
      background: rgba(0,0,0,0.0) url(../images/dark-gradient.png) no-repeat center bottom;
      background-size: 100% auto;

      &--white {
         top: 0;
         bottom: auto;
         background: rgba(0,0,0,0.0) url(../images/gradient.png) no-repeat center top;
         background-size: 100% auto;
         body.home & {
            background-color: rgba(0,0,0,0.35);
         }
      }
   }


}

.hero {
   position: relative;
   .hero-slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      .slick-list, .slick-track {
         height: 100%;
      }
      
      .hero-slide {
         img {
            width: 100%;
            height: auto;
         }
      }
   }
}



.hero-inner {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;

   
   @include respond-min($screen-md) {
      padding-top: 65px;
   }
   
   .hero-inner-content {
      display: table;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      
      &__cell {
         display: table-cell;
         width: 100%;
         text-align: center;
         vertical-align: bottom;
         padding-bottom: 10px;

         @include respond-min($screen-xs) {
            padding-bottom: 20px;
         }

         @include respond-min($screen-sm) {
            vertical-align: bottom;
            padding-bottom: 40px;
         }


         
      }
      body.home &{
         max-width: 500px;
         margin: 0 auto;
      }
      h1 {
         margin-bottom: 0;
         text-align: center;
         color: white;
         line-height: 1.2;
         @media (min-width: 1600px){
           font-size: 88px;
         }
         @media (min-width: 1200px) and (max-width: 1599px){
           font-size: 78px;
         }
         @media (min-width: 921px) and (max-width: 1199px){
           font-size: 58px;
         }
         @media (min-width: 921px) and (max-width: 920px){
           font-size: 45px;
         }
      }

      p {
         color: white;
         font-weight:normal;
         font-size: 15px;
         margin-top: 0;
         a {
            color: white;
         }

         @include respond-min($screen-lg) {
            font-size: 19px;
         }
      }
      h1, p {
         padding: 0 15px;
      }
   }
   
}

.hero-page-header{
   display: none;
   width: 100%;
   text-align: center;
   color: white;
   position: absolute;
   bottom: 100%;
   left: 0;
   z-index: 15;
   // margin-bottom: 80px;
   
   body.search-results &, body.search-no-results & {
      display:block;
   }
   
   h1 {
      margin-bottom: 0;
   }

   p {
      color: white;
      font-weight:normal;
      font-size: 15px;
      margin-top: 10px;
      a {
         color: white;
      }

      @include respond-min($screen-lg) {
         font-size: 19px;
      }
   }
   
   body.search & {
      color: black;
      position: static;
      bottom: auto;
      left: auto;

      h1 {
         line-height: 1;
      }
   }

   body.single & {
      margin: 0 auto;
      padding-bottom: 15px;
      @include respond-min($screen-sm) {
         padding-bottom: 30px;
      }
      @include respond-min($screen-md) {
         padding-bottom: 45px;
      }
   }

   body.home & {
      h1 {
         max-width: 500px;
         margin-left: auto;
         margin-right: auto;
         line-height: 68px;

      }
   }
}


.hero.no-image {
   background: transparent;
   padding: 0;
   opacity: 1;
   &:after {
      padding-top: 50%;
      @include respond-min($screen-xs) {
         padding-top: 40%;
      }
      @include respond-min($screen-md) {
         padding-top: 30%;
      }
      @include respond-min($screen-lg) {
         padding-top: 20%;
         min-height: 300px;
      }
   }
   
   .hero-gradient {
      display: none;
   }
   .hero-inner {
    
      h1 {
         color: black !important;
         margin-top: initial;
         padding: 0;
      }
      p{
         color: black !important;
         a {
            color: black !important;
         }
      }
      .hero-inner-content {
         &__cell {
            padding: 0;
         }
      }
   }
}

body.blog {
   .hero {
      display: none;
   }
}
