.hero {
   display: block;
   position: relative;
   width: 100%;
   height: auto; 
   background-color: #dbdbdb;
   z-index: 1;
   max-height: 600px;
   background-size: 100% auto;//cover;
   overflow: hidden;
   
   &:after {
      content: '';
      width: 100%;
      display: block;
      padding-top: 35%;
   }

   body.search & {
      display: none;
   }
}

.hero-page-header {
   display: block;
   width: 100%;
   text-align: center;
   color: white;
   position: absolute;
   bottom: calc(100% + 215px);
   left: 0;
   z-index: 15;
   margin-bottom:0;
   vertical-align: bottom; 
   
   h1 {
      margin-bottom: 0;
   }
   
   body.search & {
      color: black;

      h1 {
         line-height: 1;
      }
   }

   body.single & {
      bottom: calc(100% + 60px);
      margin: 0 auto;
   }

   body.home & {
      bottom: calc(100% + 190px);
      h1 {
         max-width: 500px;
         margin-left: auto;
         margin-right: auto;
         line-height: 68px;

      }
      
   }
}