.page-content {
   position: relative;
   padding-top: 60px;
   padding-bottom: 60px;
   
   body.blog & {
      padding-top: 45px;
      padding-bottom: 0;
   }
}

.page.home {
   .page-content {
      h2:first-of-type {
         margin: 0 auto 60px;
      }
   }
}

body.search {
  
  .content {
    margin-top: 50%;
  }
  &.search-no-results {
    .content {
      margin-top: 60%;
    }
  }
  .hero-page-header {
    span.results {
      font-size: 26px;
      font-style: italic;  
    }

    span.query {
      text-decoration: underline;
    }
  }
}

body.for-instructors {
  
  .tools {
    position: relative;
    margin-bottom: 50px;
    & > a, .anchor-link {
      display: inline-block;
      height: 40px;
      width: 40px;
      position: static;
      background: transparent url(../images/link.png) no-repeat;
      background-position: 0 95%;
      background-size: 26px auto;
      outline: 0;
      @include respond-min($screen-sm) {
        display: block; 
        position: absolute;
        top: -60px;
        left: -40px;
        width: 40px;
        height: 80px;
      }
    }
  }

  ul.tools-list{
    @extend .list-unstyled;
    display: block;
    
    li {
      @extend .p;
      display: block;
      width: 100%;
      height: 80px;
      padding: 20px 0;
      margin: 0;
      border-bottom: 1px solid rgba(147,147,147,1);
      line-height: 40px;
      vertical-align: middle;
      &:first-child {
        border-top: 1px solid rgba(147,147,147,1);
      }
      
      p {
        
        color: black;
        font-size: 17px;
        line-height: 40px;
        text-decoration: underline;
        
        @include respond-min($screen-sm) {
          display: inline ;
        }
      }
      
      button {
        float: right;
        background: white;
        color: black;
        min-width: 160px;
        height: 40px;
        border: 2px solid black;
      }
    }
  }
}



body.about-us {
  .bios {
    position: relative;
    display: block;
    width: 100%;
    
  }
}

