.page-content {
   position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    @include respond-min($screen-sm) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
}

.page.home {
   .page-content {
      h2:first-of-type {
        margin: 0 auto 30px;
        @include respond-min($screen-sm) {
          margin: 0 auto 40px;
        }
      }
   }
}

body.single-post {
  .hero.no-image{
    margin-top: 40px;
    @include respond-min($screen-xs) {
      margin-top: 0;
    }
  }
}

body.search, body.blog {

  .search-results {
    article {
      margin-bottom: 30px;
    }
  }
  
  .content {
    padding-top: 120px;
    @include respond-min($screen-sm) {
      padding-top: 160px;
    }
    @include respond-min($screen-md) {
      padding-top: 180px;
    }
  }
  &.search-no-results {
    
  }
  .hero-page-header {
    span.results {
      font-size: 26px;
      font-style: italic;  
    }

    span.query {
      text-decoration: underline;
    }
  }
}

body.for-instructors {
  
  .tools {
    position: relative;
    margin-bottom: 50px;
    & > a, .anchor-link {
      display: block;
      float: right;
      height: 40px;
      width: 40px;
      position: static;
      background: transparent url(../images/link.png) no-repeat;
      background-position: 0 50%;
      background-size: 26px auto;
      outline: 0;
      @include respond-min($screen-sm) {
        display: block; 
        float: none;
        position: absolute;
        top: -50px;
        left: -40px;
        width: 40px;
        height: 80px;
        background-position: 0 95%;
      }
    }
  }

  ul.tools-list{
    @extend .list-unstyled;
    display: block;
    
    li {
      @extend .p;
      display: block;
      width: 100%;
      height:auto;
      padding: 20px 0;
      margin: 0;
      border-bottom: 1px solid rgba(147,147,147,1);
      line-height: 40px;
      vertical-align: middle;
      @include respond-min($screen-sm) {
        height: 80px;
      }
      &:first-child {
        border-top: 1px solid rgba(147,147,147,1);
      }
      
      p {
        
        color: black;
        font-size: 17px;
        line-height: 40px;
        text-decoration: underline;
        
        @include respond-min($screen-sm) {
          display: inline ;
        }
      }
      
      button, .btn {
        @include respond-min($screen-sm) {
          float: right;
          background: white;
          color: black;
          min-width: 160px;
          height: 40px;
          border: 2px solid black;
          text-decoration: none; 
        }
        
      }
    }
  }
}



body.about-us {
  .bios {
    position: relative;
    display: block;
    width: 100%;
    
  }
}

body.blog {
  .recent-posts {
    display: none;
  }
}
