.page-content {
   position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    @include respond-min($screen-sm) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
}

.page.home {
   .page-content {
      h2:first-of-type {
        margin: 0 auto 30px;
        @include respond-min($screen-sm) {
          margin: 0 auto 40px;
        }
      }
   }
}

body.single-post {
  .hero.no-image{
    margin-top: 40px;
    @include respond-min($screen-xs) {
      margin-top: 0;
    }
  }
}

body.search, body.blog {

  .search-results {
    article {
      margin-bottom: 30px;
    }
  }
  
  .content {
    padding-top: 120px;
    @include respond-min($screen-sm) {
      padding-top: 160px;
    }
    @include respond-min($screen-md) {
      padding-top: 180px;
    }
  }
  &.search-no-results {
    
  }
  .hero-page-header {
    span.results {
      font-size: 26px;
      font-style: italic;  
    }

    span.query {
      text-decoration: underline;
    }
  }
}

body.for-instructors {

  .for-instructor-block {
    @extend .col-xs-12;
    @extend .col-sm-8;
    @extend .col-md-8;
    @extend .col-lg-6;
    float: none !important;
    display: block;
    margin: 0 auto;
  }

  .for-instructor-image {
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: transparent no-repeat cover;
    background-position: center;
    background-size: 100% auto;
    max-width: 1170px;
    margin: 40px auto;
    padding-bottom: 30%;
  }
  
  .tools {
    position: relative;
    margin-bottom: 50px;
    & > a, .anchor-link {
      display: block;
      float: right;
      height: 40px;
      width: 40px;
      position: static;
      background: transparent url(../images/link.png) no-repeat;
      background-position: 0 50%;
      background-size: 26px auto;
      outline: 0;
      @include respond-min($screen-sm) {
        display: block; 
        float: none;
        position: absolute;
        top: -50px;
        left: -40px;
        width: 40px;
        height: 80px;
        background-position: 0 95%;
      }
    }
  }

  
}

ul.tools-list{
  @extend .list-unstyled;
  display: block;
  
  li {
    @extend .p;
    position: relative;
    transition: all 0.15 linear;
    display: block;
    width: 100%;
    height:auto;
    padding-right: 45px;
    margin: -1px 0 0 0;
    background-color: white;
    border-bottom: 1px solid rgba(147,147,147,1);
    border-top: 1px solid rgba(147,147,147,1);
    line-height: 40px;
    vertical-align: middle;
    a {
      color: inherit;
      text-decoration: none;
      display: block;
      width: 100%;
      padding: 20px 0;
    }
    @include respond-min($screen-md) {
      height: 80px;
      padding-right: 0;
    }
    
    // &:first-child {
    //   border-top: 1px solid rgba(147,147,147,1);
    // }

    
    
    p {
      transition: color 0.15 linear;
      color: black;
      font-size: 17px;
      line-height: 40px;
      text-decoration: underline;
      
      @include respond-min($screen-md) {
        display: inline ;
      }
    }

    
    
    button, .btn {
      position: absolute;
      transition: all 0.15s linear;
      float: none;
      background: white no-repeat center;
      color: black;
      width: 40px;
      height: 100%;
      overflow: hidden;
      text-indent: -9999px;
      background-image: url(../images/link.png);
      background-size: 25px auto;
      border: none;
      left: auto;
      right: 0;
      top: 0;
      &:hover, &:active {
        color: transparent;
        border-color: transparent;
        background-color: transparent;
      }
      @include respond-min($screen-md) {
        position: relative;
        top: auto;
        right: auto;
        color: black;
        float: right;
        min-width: 160px;
        height: 40px;
        border: 2px solid black;
        text-decoration: none; 
        text-indent: 0;
        background: white no-repeat center;
        &:hover, &:active {
          color: white;
          border-color: #E06847;
          background-color: #E06847;
        }
      }
    }
    &:hover {
      border-color: #E06847;
      color: #E06847;
      p {
        color: #E06847;
      }
      & + li {
        border-top-color: #E06847;
      }
      button, .btn {
        color: transparent;
        border-color: transparent;
        background-color: transparent;
        @include respond-min($screen-md) {
          color: white;
          border-color: #E06847;
          background-color: #E06847;
        }
      }
    }
  }
}



body.about-us {
  .bios {
    position: relative;
    display: block;
    width: 100%;
    
  }
}

body.blog {
  .recent-posts {
    display: none;
  }
}

body {
  &.brochure-page {
    padding-bottom: 0;
    overflow-x: hidden;
  }
  .hero.active {
    @media (max-width: 475px) {
      height: 234px;
      h1 {
        font-size: 26px;
        line-height: 1.2;
      }
    }
  }
}

/* Thanks for adding p tags, WordPress. */
blockquote p cite {
  font-size: 16px;
}


hr {
  &.short {
    width: 30px;
    border-top: 2px solid $hr_color;
  }
  &.full-width {
    border-top-width: 2px;
  }
}

.hero-inner .hero-inner-content h1.page-brochure {
  margin-bottom: 70px;
}

.hero {
  background-repeat: no-repeat;
  @media (max-width: 500px) {
    /* override inline style */
    background-size: 500px !important;
  }
}

.postid-5585 {
  opacity: 0.89;
}

.brochure-blockquote {
  display: inline-block;
  margin: {
    top: 30px;
    bottom: 30px;
  }
}

.blockquote-large {
  &.extra-margin {
    margin: {
      top: 80px;
      bottom: 80px;
    }
    @media (max-width: 500px) {
      margin: {
        top: 40px;
        bottom: 50px;
      }
    }
  }
  &.centered {
    margin: {
      left: auto;
      right: auto;
    }
  }
  &.min-margin {
    margin: {
      top: 40px;
      bottom: 40px;
    }
    @media (max-width: 500px) {
      font-size: 24px;
      margin: {
        top: 20px;
        bottom: 20px;
      }
    }
  }
  p {
    font-size: 36px;
    line-height: 45px;
  }
}

.blockquote-media {
  blockquote {
    margin: {
      top: 65px;
      left: 0;
      right: 0;
    }
  }
  &:first-child {
    margin-bottom: 20px;
    display: inline-block;
  }
  .brochure-blockquote {
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
    p {
      font-size: 26px;
      text-align: left;
    }
  }
  @media (max-width: 500px) {
    img {
      display: none;
    }
  }
}

.slick-slide .blockquote-media blockquote p {
  margin-top: 0;
}

// Class applied with JS
blockquote .cite-parent-p {
  line-height: 29px;
  margin-top: -20px;
}

.stat {
  padding-top: 10px;
  margin-bottom: 1em;

  span:not(.hidden-xs) {
    display: block;
  }

  &.yellow {
    border-top: 3px solid $yellow;
  }

  &.green {
    border-top: 3px solid $green;
  }

  &.orange {
    border-top: 3px solid $orange;
  }

  &.purple {
    border-top: 3px solid $purple;
  }
}

.stat-title {
  font-size: 19px;
  margin-bottom: 15px;
}

.stat-figure {
  font-size: 120px;
  line-height: 1;
  @media (max-width: 767px) and (min-width: 501px) {
    font-size: 100px;
  }
  @media (max-width: 500px) {
    font-size: 79px;
  }
}

.stat-explanation {
  padding-top: 75px;
  @media (max-width: 767px) {
    padding-top: 0;
  }
}

hr.multicolor {
  background: $yellow;
  background: -moz-linear-gradient(left, $yellow 0%, $yellow 25%, $green 25%, $green 50%, $orange 50%, $orange 75%, $purple 75%, $purple 100%, $purple 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$yellow), color-stop(25%,$yellow), color-stop(25%,$green), color-stop(50%,$green), color-stop(50%,$orange), color-stop(75%,$orange), color-stop(75%,$purple), color-stop(100%,$purple), color-stop(100%,$purple)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, $yellow 0%,$yellow 25%,$green 25%,$green 50%,$orange 50%,$orange 75%,$purple 75%,$purple 100%,$purple 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, $yellow 0%,$yellow 25%,$green 25%,$green 50%,$orange 50%,$orange 75%,$purple 75%,$purple 100%,$purple 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, $yellow 0%,$yellow 25%,$green 25%,$green 50%,$orange 50%,$orange 75%,$purple 75%,$purple 100%,$purple 100%); /* IE10+ */
  background: linear-gradient(to right, $yellow 0%,$yellow 25%,$green 25%,$green 50%,$orange 50%,$orange 75%,$purple 75%,$purple 100%,$purple 100%);
  height: 3px;
  &.no-top-margin {
    margin-top: 0;
  }
}

.slick-dots li {
  &.slick-active button {
    background: #bcbcbc;
  }
  button {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    border: 1.5px solid #bcbcbc;
    text-indent: -9999px;
  }
}

.slick-slideable {
  width: 100%;
}

.precedes-hr {
  margin-bottom: 10px;
  @media (max-width: 767px) {
    margin-bottom: 45px;
  }
}

img {
  max-width: 100%;
}

/* TODO: Get approved content and remove */
.temporary-text {
  color: red;
}

.callout {
  font-size: 26px;
  width: 95%;
  text-align: center;
  line-height: 35px;
  margin: 60px auto;
  @media (max-width: 500px) {
    margin: 30px auto;
  }
  &.large {
    font-size: 30px;
    line-height: 40px;
    width: 85%;
    @media (max-width: 500px) {
      font-size: 24px;
    }
  }
  &.left {
    text-align: left;
    width: 100%;
  }
  &.min-callout-margin {
    margin: 25px auto;
  }
}
